doctype
html
    head
        title Add new Entry
        link(rel='stylesheet', href='/styles/style.css')
    body
        h3 Entry Details
        form(id='form', method='post', action='/create')
            label(for='name') Name: 
            input(type='text', name='name')
            br
            label(for='favoriteGameGenre') Favorite Game Genre: 
            select(name='favoriteGameGenre')
                option(value="Shooter") Shooter
                option(value="RPG") RPG
                option(value="Strategy") Strategy
                option(value="Puzzle") Puzzle
                option(value="HacknSlash") Hack 'n' Slash
                option(value="Fighting") Fighting
                option(value="Open World") Open World
                option(value="Platformer") Platformer
                option(value="MOBA") MOBA
                option(value="Horror") Horror
                option(value="Party") Party
                option(value="Racing") Racing
                option(value="Sports") Sports
                option(value="Survival") Survival 
            br
            label(for='favoriteDeveloper') Favorite Developer: 
            select(name='favoriteDeveloper')
                option(value="Bungie") Bungie
                option(value="343 Industries") 343 Industries
                option(value="Bethesda") Bethesda
                option(value="Blizzard") Blizzard
                option(value="Gearbox") Gearbox
                option(value="Not A Fan") Not A Fan 
            br
            label(for='favoriteConsoleCreator') Favorite Console Creator: 
            select(name='favoriteConsoleCreator')
                option(value="Nintendo") Nintendo
                option(value="Sega") Sega
                option(value="Microsoft") Microsoft
                option(value="Sony") Sony 
                option(value="Not A Fan") Not A Fan
            br
            input(type='submit', value='Add Entry')



