doctype html
html
  head
    script(id='jsonData' type='application/json')
      //- var jData = JSON.parse($("#vgsEntry").html());    
    script(type='text/javascript')
    script(src='scripts/canvasjs.min.js')
    script(src='scripts/displayCharts.js')
    title Home
  body
    div(id="genreId" src = 'questions.json')
    #chartContainer(style='height: 400px; width: 100%;' )
    div(id="developerId" src = 'questions.json')
    #chartContainer2(style='height: 400px; width: 100%;')
    div(id="creatorId" src = 'questions.json')
    #chartContainer3(style='height: 400px; width: 100%;')
    p
        a(href='/database') See Database.
//- src = vgsEntry.favoriteGameGenre
//- src = vgsEntry.favoriteDeveloper
//- src = vgsEntry.favoriteConsoleCreator